{% extends 'base.html' %}
{% load activity_tags i18n %}
{% load endless %}
{% load static %}

{% block page_title %}새로 등록된 책{% endblock page_title %}
{% block content %}
<ul class="nav nav-pills">
  <li {% if delta == 1 %}
    class="active"    
  {% endif %}
  >
    <a href="{% url 'new_books' 1 %}">1일 동안</a>
  </li>
  <li {% if delta == 3 %}
    class="active"    
  {% endif %}
  ><a href="{% url 'new_books' 3 %}">3일 동안</a></li>
  <li {% if delta == 5 %}
    class="active"    
  {% endif %}
  ><a href="{% url 'new_books' 5 %}">5일 동안</a></li>
  <li {% if delta == 7 %}
    class="active"    
  {% endif %}
  ><a href="{% url 'new_books' 7 %}">일주일 동안</a></li>
</ul>

{% load i18n %}
<ul class="unstyled">
{% paginate action_list %}
{% for action in action_list %}
    {% with book=action.actor %}
        {% include 'book/_saved_book.html' %}
    {% endwith %}
{% empty %}
{% trans "No books" %}
{% endfor %}
</ul>
{% show_pages %}
{% endblock %}