{% load static %}
<li class="well clearfix">
  <div class="book">
    <p class="pull-left">
      <img class="book-image" src="
      {% if book.img %}
        {{ book.img }}
      {% else %}
        {% static 'img/book.png' %}
      {% endif %}
      ">
    </p>
    <div class="book-info">
      <h4 class="media-heading"><a href='{% url "book" book.pk %}'>{{ book.title }}</a></h4>
      <p>{% for author in book.author %}
        {% if forloop.last %}
          {{ author }}
        {% else %}
          {{ author }}, 
        {% endif %}
      {% endfor %} | 
      {{ book.publisher }} | 
      {{ book.publication_date }} | {{ book.pages }}쪽 |
      {{ book.isbn }}</p>
    </div>
    {% block extra_info %}{% endblock extra_info %}
  </div>
</li>