{% load static %}
<li class="well clearfix">
  <div class="book">
    <p class="pull-left">
      <img class="book-image" src="
      {% if book.img %}
        {{ book.img }}
      {% else %}
        {% static 'img/book.png' %}
      {% endif %}
      ">
    </p>
    <div class="book-info">
      <h4 class="media-heading">{{ book.title }} <small>(<a href="http://amazon.com/dp/{{ book.isbn }}">아마존 링크</a>)</small></h4>
      <p>
        {% for author in book.author %}
        {% if forloop.last %}
          {{ author }}
        {% else %}
          {{ author }}, 
        {% endif %}
      {% endfor %} | 
      {{ book.publisher }} | 
      {{ book.publication_date }} | {{ book.pages }}쪽 |
      {{ book.isbn }}</p>
    </div>
    {# <a class="btn" href="">이 책 저장하기</a> #}
  </div>
</li>