{% load static %}
<li class="well clearfix">
  <div class="book">
    <p class="pull-left">
      <img class="book-image" src="
      {% if book.img %}
        {{ book.img }}
      {% else %}
        {% static 'img/book.png' %}
      {% endif %}
      ">
    </p>
    <div class="book-info">
      {% if book.pk != 0 %}
        <h4 class="media-heading"><a href="{% url "book" book.pk %}">{{ book.title }}</a> <small>(<a href="http://amazon.com/dp/{{ book.isbn }}">아마존 링크</a>)</small></h4>
      {% else %}
        <h4 class="media-heading">{{ book.title }} <small>(<a href="http://amazon.com/dp/{{ book.isbn }}">아마존 링크</a>)</small></h4>
      {% endif %}
      <p>
        {% for author in book.author %}
        {% if forloop.last %}
          {{ author }}
        {% else %}
          {{ author }}, 
        {% endif %}
      {% endfor %} | 
      {{ book.publisher }} | 
      {{ book.publication_date }} | {{ book.pages }}쪽 |
      {{ book.isbn }}</p>
    </div>
    <div class="pull-right">
      {% if book.pk != 0 %}
        <span class="label">이미 저장된 책입니다</span>      
      {% else %}
        <a class="btn" href="{% url "add_book" book.isbn %}">이 책 저장하기</a>
      {% endif %}</div>
  </div>
</li>