{% load static %}
<li class="well clearfix">
  <div class="book">
    <p class="pull-left">
      <img class="book-image" src="
      {% if book.img %}
        {{ book.img }}
      {% else %}
        {% static 'img/book.png' %}
      {% endif %}
      ">
    </p>
    <div class="book-info">
      <h4 class="media-heading"><a href='{% url "book" book.pk %}'>{{ book.title }}</a></h4>
      <p>
      {% for author in book.author.all %}
        {{ author.name }}
      {% endfor %} | 
      {% for pub in book.publisher.all %}
        {{ pub.name }}
      {% endfor %} | 
      {{ book.publication_date }} | {{ book.pages }}쪽 |
      {{ book.isbn }}</p>
    </div>
    <div class="extra-info">
      <p>등록된 날짜 -  {{book.create_date}} | 
      {% if book.exists_rank %}
        최고 순위 - {{ book.highest_rank }}</p>
      {% endif %}
    </div>
    {% block sub_info %}{% endblock sub_info %}
    <div class="actions pull-right">
      {% if book.pk == 0 %}
      <a class="btn" href="">이 책 저장하기</a>
      {% else %}
      <span class="label label-info">이미 저장된 책</span>
      {% endif %}
    </div>
  </div>
</li>