{% extends "base.html" %}
{% block page_title %}{{ book.title }}{% endblock page_title %}
{% block content %}
<ul class="clearfix">
{% for category in book.category.all %}
  <li class="">{{ category.name }}</li>
{% endfor %}
</ul>
<div class="book">
  <p class="pull-left">
    <img class="book-image" src="{{ book.img }}">
  </p>
  <div class="book-info">
    <h4 class="media-heading">{{ book.title }}</h4>
    <p>{% for author in book.author.all %}
        {{ author.name }}
       {% endfor %}
     | {% for pub in book.publisher.all %}
        {{ pub.name }}       
       {% endfor %}
     | {{ book.publication_date }} | {{ book.pages }}쪽</p>
  </div>
  <div class="ranks pull-right">
    <h4>아마존 순위</h4>
    <ol>
      {% for rank in book.rank_set.all|dictsortreversed:"date" %}
        <li>
          {{rank.date}} - {{rank.rank}}
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock content %}