{% extends "base.html" %}
{% load static %}

{% block page_title %}{{ book.title }}{% endblock page_title %}
{% block content %}
<ul class="clearfix">
{% for category in book.category.all %}
  <li class="">{{ category.name }}</li>
{% endfor %}
</ul>
<div class="book">
  <p class="pull-left">
    <img class="book-image" src="
      {% if book.img %}
        {{ book.img }}
      {% else %}
        {% static 'img/book.png' %}
      {% endif %}
      ">
  </p>
  <div class="book-info">
    <h4 class="media-heading">{{ book.title }} <small>(<a href="{{ book.amazon_link }}" target="_blank">아마존 링크</a>)</small></h4>
    <p>{% for author in book.author.all %}
        {{ author.name }}
       {% endfor %}
     | {% for pub in book.publisher.all %}
        <a href="{{ pub.get_absolute_url }}">{{ pub.name }}</a>
       {% endfor %}
     | {{ book.publication_date }} | {{ book.pages }}쪽</p>
  </div>
  <div class="ranks pull-right">
    <h4>아마존 순위</h4>
    <ol>
      {% for rank in book.rank_set.all|dictsortreversed:"date" %}
        <li>
          {{rank.date}} - {{rank.rank}}
        </li>
      {% endfor %}
    </ol>
  </div>
</div>
{% endblock content %}