{% extends 'base.html' %}
{% load activity_tags i18n %}
{% load endless %}

{% block page_title %}도서 순위{% endblock page_title %}
{% block content %}
<ul class="nav nav-pills">
  <li {% if day == all %}
    class="active"    
  {% endif %}
  ><a href="{% url 'ranked_books' 'all' %}">전체 순위</a></li>
  <li {% if day == 0 %}
    class="active"    
  {% endif %}
  >
    <a href="{% url 'ranked_books' 0 %}">오늘 순위</a></li>
</ul>

{% paginate books %}
<ul>
{% for book in books %}
  {% include 'book/_saved_book.html' %}
{% endfor %}
</ul>
{% show_pages %}
{% endblock %}