{% extends 'base.html' %}
{% load activity_tags i18n %}
{% load endless %}

{% block page_title %}{{ publisher.name }} 출판사의 도서 목록{% endblock page_title %}

{% block content %}
<ul class="nav nav-pills">
    <li><a href="{% url 'publisher' pk=publisher.pk order='title' %}">알파벳 순</a></li>
    <li><a href="{% url 'publisher' pk=publisher.pk order='rank' %}">순위 순</a></li>
    <li><a href="{% url 'publisher' pk=publisher.pk order='publication_date' %}">발행일 순</a></li>
</ul>

<ul class="unstyled">
{% paginate book_list %}
{% for book in book_list %}
  {% include 'book/_saved_book.html' %}
{% endfor %}
</ul>
{% show_pages %}
{% endblock %}